.posts{
    width: 100%;
    align-items: center;
    display: flex;

    justify-content: center;
    flex-direction: column;
}
.Index-Container{
    width:40%;
    border-radius: 10PX;
}


.post_title{
    text-decoration: none;
    color: rgb(118, 99, 201);
}
.post_menu{
    float: right;
}