{% extends 'layout.html' %}
{% block content %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='account_page.css')}}">
{% endblock stylesheet %}

<div class="container rounded bg-white  wrapper_container_Account">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="{{ curr_profile_picture }}"
                        data-bs-toggle="modal" data-bs-target="#EditPhotoModal">
                    <span class="font-weight-bold">{{current_user.username}}</span>
                    <span class="text-black-50">{{current_user.email}}</span><span> </span>
                </div>

            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label>
                            {% if form.username.error %}
                            {{form.username(class="form-control-lable form-control-lg is-invalid ")}}

                            <div class="invalid-feedback">
                                {% for error in form.username.error %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{form.username(class="form-control form-control-lg ")}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text"
                                class="form-control" placeholder="enter phone number" value=""></div>
                        <div class="col-md-12"><label class="labels">Email ID</label>

                            <!-- <input type="text" class="form-control" placeholder="enter email id" value="{{current_user.email}}"> -->
                            {% if form.email.error %}

                            {{form.email(class="form-control-lable form-control-lg is-invalid ")}}

                            {% for error in form.email.error %}
                            <div class="invalid-feedback">
                                <span> error is {{ error}}</span>
                            </div> -->
                            {% endfor %} -->
                            {% else %}
                            {{form.email(class=" form-control form-control-lg")}}
                            {% endif %}

                        </div>
                        <div class="col-md-12"><label class="labels">Education</label><input type="text"
                                class="form-control" placeholder="education" value=""></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input type="text"
                                class="form-control" placeholder="country" value=""></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text"
                                class="form-control" value="" placeholder="state"></div>
                    </div>
                    <div class="row mt-3">
                        {{form.picture.label()}}
                        {{form.picture(class='form-control-file')}}
                        {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                        <span class="text-danger"> Invalid Type </span>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="mt-5 text-center">
                        <div class="form-group">
                            {{form.submit(class="btn btn-outline-info")}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Edit
                            Experience</span><span class="border px-3 p-1 add-experience"><i
                                class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                    <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text"
                            class="form-control" placeholder="experience" value=""></div> <br>
                    <div class="col-md-12"><label class="labels">Additional Details</label><input type="text"
                            class="form-control" placeholder="additional details" value=""></div>
                </div>
            </div>
            {% block account %}
            {% endblock account %}


    </form>
</div>

{% endblock content %}