{% extends 'layout.html' %}
{% block content %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css')}}">
{% endblock stylesheet %}
<div class="posts">
    <div class="container bg-light container-sm  ms-5 container  m-1 border Index-Container">
        <div class="row">

            <div class="col-md-offset-2 width-100">

                <button type="button" class=" border-0 bg-light  h1" data-bs-toggle="collapse"
                    data-bs-target="#demo">{{legend_title_and_Post_Form[0]}}</button>
                <form id="demo" class="{{legend_title_and_Post_Form[1]}}" action="" method="POST" enctype="multipart/form-data">
                    {{ Form_Post.hidden_tag() }}
                    <fieldset class="form-group  ">

                    <div class="form-group has-error">
                        <label for="slug">Slug <span class="require">*</span> <small>(This field use in url
                                path.)</small></label>
                        <input type="text" class="form-control" name="slug" />
                        <span class="help-block">Field not entered!</span>
                    </div>

                    <div class="form-group">
                        {{Form_Post.title.label(class="")}}
                        {{Form_Post.title(class="form-control")}}
                    </div>

                    <div class="form-group">
                        {{Form_Post.content.label(for="description")}}
                        {{Form_Post.content(class="form-control" , rows="5")}}
                    </div>

                    <!-- <div class="form-group">
                        <p><span class="require">*</span> - required fields</p>
                    </div> -->
                </fieldset>
                    <div class="form-group">
                        {{ Form_Post.submit(class="btn btn-primary") }}
                        <button data-bs-toggle="collapse" data-bs-target="#demo" class="btn btn-default">
                            Cancel
                        </button>
                    </div>
                    
                </form>
            </div>

        </div>
    </div>
</div>
<div class="posts  ">

    {% for post in posts %}
    <div class=" bg-light container-sm  ms-5 container  m-1 border Index-Container">
        <div class="post-header">
            <img src="{{url_for('static',filename='profile_pic/'+ (post.author.image_file))}}" class="rounded-circle" height="40"
            alt="Profile picture" loading="lazy" />
            
            <h5 class="d-inline  "> {{post.author.username}}</h5>
            <h6 class=" ms-3 d-inline">{{post.date_posted}}</h6>
            <a type="button" class="btn post_menu  " data-bs-toggle="dropdown" >
                
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
            </a>
            <ul class="dropdown-menu">
                {% if post.author == current_user %}
                <li><a class="dropdown-item" href="{{url_for('home',post_id=post.id)}}">Update</a></li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="#">Follow</a></li>
                <li><a class="dropdown-item" href="#">Copy link</a></li>
                <li><a class="dropdown-item" href="#">Block User</a></li>
                <li><a class="dropdown-item" href="#">Save Post</a></li>    
              </ul>

        </div>
        <div class="post-body">

            <a class="article-title h3 post_title" href="{{url_for('post',post_id=post.id)}}">
                {{post.title}}
            </a>
            <div>
                <p class="article-content ">{{post.content}}</p>
            </div>
        </div>
        <div class="post-footer">

        </div>
    </div>

    {% endfor %}
</div>


{% endblock content %}